.footer {
	background-color: #0B0D16;
	display: flex;
    font-size: 14px;
    color: white;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    padding: 2rem 0;
}
footer span{
       font-size: 13px;
}
