.main {
	max-width: 1140px;
	margin: 5rem auto;
}
.select-amount {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
h2 {
	margin: 1rem;
}
.select-amount p {
	max-width: 500px;
	text-align: center;
}
ul {
	position: relative;
	display: flex;
	margin: 1rem 0;
	list-style: none;
}
li {
	width: 70px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	color: tomato;
	background: #fafafa;
	margin-right: 0.5rem;
	border-radius: 2px;
	cursor: pointer;
	/* position: absolute; */
}
li:hover {
	background: #ffeeee;
	border: 1px solid #ffc7c7;
}
.inputamount {
	width: 500px;
	margin-bottom: 1rem;
	border-bottom: 1px solid #ffeeee;
	border-top: none;
	border-right: none;
	border-left: none;
	text-align: center;
	outline: none;
	padding-bottom: 0.2rem;
	font-size: 17px;
}
.inputamount :focus {
	border-bottom: 1px solid red;
}

/* planning section here  */
.plan-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 5rem 0;
}
.plan-container > p {
	max-width: 500px;
	text-align: center;
	margin-bottom: 2rem;
}
.plans {
	display: flex;
}
.plan {
	padding: 1rem;
	margin-right: 1rem;
	display: flex;
	flex-direction: column;
	background-color: #ffeeee;
}
.plan img {
	width: 40px;
}
.plan h4 {
	margin: 0.7rem 0;
}
.plan:hover {
	background-color: #fff5d8;
	cursor: pointer;
}

/* gallary section  */
.gallary {
	margin: 5rem 0;
}
.gallary-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.gallary-ls {
	width: 45%;
}
.gallary-ls h3 {
	font-size: 35px;
}
.gallary-ls p {
	margin: 1rem 0;
}
.gallary-rs {
	width: 45%;
}
.gallary-rs img {
	width: 100%;
	height: 100%;
}
p {
	color: #707070;
}
