.main {
	max-width: 1140px;
	margin: 5rem auto;
}
.select-amount {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
h2 {
	margin: 1rem;
}
.select-amount p {
	max-width: 500px;
	text-align: center;
}
ul {
	position: relative;
	display: flex;
	margin: 1rem 0;
	list-style: none;
}
li {
	width: 70px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	color: tomato;
	background: #fafafa;
	margin-right: 0.5rem;
	border-radius: 2px;
	cursor: pointer;
	/* position: absolute; */
}
li:hover {
	background: #ffeeee;
	border: 1px solid #ffc7c7;
}
.inputamount {
	width: 500px;
	margin-bottom: 1rem;
	border-bottom: 1px solid #fac8c8;
	border-top: none;
	border-right: none;
	border-left: none;
	text-align: center;
	outline: none;
	padding-bottom: 0.2rem;
	font-size: 17px;
}
.inputamount :focus {
	border-bottom: 1px solid red;
}

@media screen and (max-width: 576px) {
	.main {
		margin: 2rem auto;
	}
	.select-amount ul > li {
		width: 60px;
		font-size: 14px;
	}
	.inputamount {
		width: 90%;
	}
	.select-amount p {
		margin: 0 1rem;
	}
}
@media screen and (min-width: 577px) and (max-width: 768px) {
}

/* planning section here  */
.plan-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 5rem 0;
}
.plan-container > p {
	max-width: 500px;
	text-align: center;
	margin-bottom: 2rem;
}
.plans {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}
.plan {
	width: 250px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	background-color: #ffeeee;
}
.plan img {
	width: 40px;
}
.plan h4 {
	margin: 0.7rem 0;
}
.plan:hover {
	background-color: #fff5d8;
	cursor: pointer;
}
@media screen and (max-width: 576px) {
	.plan-container{
		margin: 2rem 0;
}
	.plan-container .plans {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.plan-container .plans .plan {
		width: unset;
		margin: 0 1rem;
	}
}
@media screen and (min-width: 577px) and (max-width: 768px) {
	.plan-container .plans {
		gap: 16px;
	}
	.plan-container .plans .plan {
		width: unset;
		margin: 0 1rem;
	}
}
/* gallary section  */
.gallary {
	margin: 5rem 0;
}
.gallary-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.gallary-ls {
	width: 45%;
}
.gallary-ls h3 {
	font-size: 35px;
}
.gallary-ls p {
	margin: 1rem 0;
}
.gallary-rs {
	width: 45%;
}
.gallary-rs img {
	width: 100%;
	height: 100%;
}
p {
	color: #707070;
}
@media screen and (max-width: 576px) {
	.gallary-item {
		margin: 01rem;
		flex-direction: column;
		gap: 20px;
	}
	.gallary-rs {
		width: 100%;
	}
	.gallary-ls {
		width: 100%;
	}
	.gallary-ls h3 {
		font-size: 25px;
	}
	.reverse {
		flex-direction: column-reverse;
		margin-top: 2rem;
	}
}
@media screen and (min-width: 577px) and (max-width: 768px) {
	.gallary-item {
		justify-content: center;
		gap: 40px;
		margin-bottom: 2rem;
	}
	.gallary-ls h3 {
		font-size: 30px;
	}
}
/* newslater section  */
.newslater {
	display: flex;
	margin: 5rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.newslater p {
	margin-bottom: 2rem;
	max-width: 400px;
	text-align: center;
}
.input-box {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem 7rem;
	background-color: #fff5d8;
}
.input-box input {
	padding: 0.7rem 1rem;
	background-color: #d9d9d9;
	outline: none;
	border: none;
}
@media screen and (max-width: 576px) {
	.newslater {
		margin: 1rem;
	}
	.input-box {
		padding: 3rem 1rem;
	}
}
@media screen and (min-width: 577px) and (max-width: 768px) {
	.plan-container .plans {
		gap: 16px;
	}
	.plan-container .plans .plan {
		width: unset;
		margin: 0 1rem;
	}
}
